<div class="btn-toolbar ma-well well well-sm">
	<div class="row">
		<button type="button" 
				class="btn btn-default no-margin"
				style="float:right; right:70px;"
				onclick="DialogService.show('addChecklistDialog', 'addChecklistForm')">
			<i class="material-icons">add</i>
		</button>
	</div>
</div>