@model DigitalInspection.ViewModels.ManageChecklistMasterViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@Html.Partial("Dialogs/_ConfirmDelete", "checklist")
@Html.Partial("_AddChecklistDialog", Model.AddChecklistVM)

@section TabContainer {
	@{ Html.RenderPartial("TabContainers/_ChecklistManagementTabs", "checklistsTab"); }
}

@section Toolbar {
	<div class="container-flex end">
		<button type="button"
				class="btn btn-default no-margin"
				onclick="DialogService.show('addChecklistDialog', 'addChecklistForm')">
			<i class="material-icons">add</i>
		</button>
	</div>
}

<div class="container-fluid">
	@Html.Partial("_ChecklistList", Model)
</div>
