@{
    ViewBag.Title = "Digital Inspection";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h2 class="col-sm-12 bg-success">Checklists</h2>

    @if (Model == null)
    {
        <div class="bg-error">Model was null, looks like the database needs stuff.</div>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            @foreach (var checklist in Model)
            {
                <tr>
                    <td class="">
                        <button class="btn btn-primary" type="button" value="Input">
                            Button that does nothing...
                        </button>
                    </td>
                    <td>@checklist.Id</td>
                    <td>@checklist.Name</td>
                </tr>
            }
        </table>
    }
</div>