@using DigitalInspection.Views.Helpers
@{
	ViewBag.Title = "Digital Inspection";
}

<div class="container">

	<div class="col-sm-4" style="margin-top: 30px;">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>Widget Ideas?</h4>
				</div>
			</div>
			<div class="panel-body">
				<a href="https://github.com/DanielCaspers/DigitalInspection/issues/58">Share your ideas</a>
				for what would be useful at-a-glance info. 
			</div>
		</div>
	</div>

	<div class="col-sm-4" style="margin-top: 30px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>Completed work orders this week</h4>
				</div>
			</div>
			<div class="panel-body">
				<div class="progress progress-danger col-sm-8" style="margin-top: 10px;">
					<div class="progress-bar" style="margin-left: -40px; width: 50%; height: 10px; background-color:red;"></div>
					<div class="progress-bar" style="width: 35%; height: 10px; background-color:orange;"></div>
					<div class="progress-bar" style="width: 35%; height: 10px; background-color:green;"></div>
				</div>
				<div class="col-sm-4">17 of 20</div>
			</div>
		</div>
	</div>
</div>



