#Visual Studio and C# things

.vs/
DigitalInspection/obj/
DigitalInspection/.vs/
DigitalInspection/Properties/PublishProfiles/

#Dynamically fetched files and package manager folders
packages/
DigitalInspection/bin/

#User uploaded content
Uploads/