#Visual Studio and C# things

# Secret files which should NEVER be shared publicly on GitHub
DigitalInspection/AppSettingsSecrets.config
DigitalInspection/ConnectionStrings.config

.vs/
DigitalInspection/obj/
DigitalInspection/.vs/
DigitalInspection/Properties/PublishProfiles/

#TypeScript
DigitalInspection/Scripts/compiledTS/

#Dynamically fetched files and package manager folders
packages/
DigitalInspection/bin/

#User uploaded content
Uploads/
DigitalInspection/DigitalInspection.csproj.user
