@import "Components/colors.scss";

body {
	//TODO: DJC This needs to be 75px for normal views, but 50px with tab containers... It would be better handled by the stacked partials instead of body?
	padding-top: 50px;
	padding-bottom: 20px;
}

@import "Components/components.scss";
@import "Views/views.scss";

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

//Convenience classes
img.center-image {
	margin: auto;
	display: block;
}

.text-inverse, .text-inverse:hover, a.text-inverse:hover {
	color: #ffffff;
}

.form-group.ma-form-group {
	margin: 0;
	padding-bottom: 0;
}

a, button {
	&.back-button {
		font-weight: bold;
		text-transform: none;
	}

	&.bold {
		font-weight: bold;
	}

	&.no-margin {
		margin: 0px;
	}

	&.no-padding-horizontal {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}

	&.no-transform {
		text-transform: none;
	}
}

// Override Bootstrap Modal CSS
.modal-dialog.modal-lg {
	width: 95% !important;
}

// Override Bootstrap Jumbotron
.jumbotron.no-padding-horizontal {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

i.mdi::before {
	margin-top: -5px;
	height: 24px;
}

.image-capture {
	position: relative;

	button {
		position: absolute;
		left: 400px;
		top: 195px;
	}
}

/*
	FIXME: Cleanup before committing
*/
.color-primary {
	color: $material-primary;
}

.carousel-caption {
	span {
		background-color: rgba(25,25,25,0.7) !important;
		border-radius: 3px;
		font-size: 16px;
		padding: 5px;
	}
}

.carousel-content {
	&.alert {
		height: 100px;
	}
}

.carousel-control {
	color: $material-primary;
	height: 80%;

	background-image: none !important;
	opacity: 1;

	&:focus {
		color: $material-primary;
	}
}

.flex-media-viewer {
	max-height: 55vh;
}
