
<div class="ma-toast alert alert-dismissible alert-danger">
	<i class="material-icons">lock</i>
	<span>X-lube (192.168.2.222) has locked the current work order.</span>
	<button type="button" class="close" data-dismiss="alert">
		<i class="material-icons">close</i>
	</button>
</div>
