<div id="tabContainer" class="ma-tab-container btn-group-justified btn-group-raised">
	<a id="checklistsTab" onclick="TabService.changeTab(event)" class="btn btn-info">Checklists</a>
	<a id="checklistItemsTab" onclick="TabService.changeTab(event)" class="btn ">Checklist Items</a>
	<a id="tagsTab" onclick="TabService.changeTab(event)" class="btn ">Tags</a>
</div>
