<a id="checklistsTab"
	href="@Url.Action("Index", "Checklists")"
	onclick="TabService.changeTab(event)"
	class="btn">
	Checklists
</a>
<a id="checklistItemsTab"
	href="@Url.Action("Index", "ChecklistItems")"
	onclick="TabService.changeTab(event)"
	class="btn">
	Checklist Items
</a>
<a id="tagsTab"
	href="@Url.Action("Index", "Tags")"
	onclick="TabService.changeTab(event)"
	class="btn">
	Tags
</a>

<script type="text/javascript">TabService.selectTab("@Model")</script>