@model DigitalInspection.ViewModels.TabContainers.TabContainerViewModel

<a id="customerTab"
	href="@Url.Action("_Customer", "WorkOrders", new { id = Model.RouteId})"
	onclick="TabService.changeTab(event); FormService.showProgress()"
	class="btn">
	Customer
</a>
<a id="vehicleTab"
	href="@Url.Action("_Vehicle", "WorkOrders", new { id = Model.RouteId })"
	onclick="TabService.changeTab(event); FormService.showProgress()"
	class="btn">
	Vehicle
</a>
<a id="inspectionTab"
	href="@Url.Action("_Inspection", "WorkOrders", new { id = Model.RouteId })"
	onclick="TabService.changeTab(event); FormService.showProgress()"
	class="btn">
	Inspection
</a>

<script type="text/javascript">TabService.selectTab("@Model.TabId")</script>