
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
	@Html.AntiForgeryToken()

	<div class="dropdown">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="ma-nav-text ma-account-name">@User.Identity.Name</span>
			<i class="material-icons md-36 text-inverse">person</i>
		</button>

		<ul class="dropdown-menu dropdown-menu-right ma-dropdown-tray">
			<li>
				<a href="javascript:document.getElementById('logoutForm').submit()">
					<i class="material-icons">system_update_alt</i>
					<span>Sign out</span>
				</a>
			</li>
		</ul>
	</div>
}
