@mixin circle($radius) {
	width: $radius * 2;
	height: $radius * 2;
	border-radius: $radius;
}

/*.car-color-indicator {
	@include circle(10px);
	display: inline-block;
	margin-bottom:-5px;
	margin-left:5px;
}*/

.car-color-badge {
	display: inline-block;
	border-radius: 20px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 35px;
}
