.field-validation-error, .field-validation-valid{
	color:#f44336 ;
}

.form-group .form-control.no-vertical-padding {
	margin-bottom:0 !important;
	height: 30px;
}


// Overrides Bootstrap Material disabled look to be more obvious
.form-control[disabled], 
.form-group .form-control[disabled]
{
	color:rgba( 0, 0, 0, 0.75) !important;
	border-bottom: none !important;
}

.ma-inline-form {
	display: inline !important;
}
