.ma-toolbar{
	background-color: #eeeeee;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	// Aligns items with list content in checklist and tags lists
	padding: 9px 31px;
}

.ma-nav-info{
	background-color: inherit;
	margin-bottom: 0;
	line-height: 40px;
	font-weight:bold;
}
