@model DigitalInspection.ViewModels.ManageTagsViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

<script type="text/javascript" src="~/Scripts/App/Shared/Services/dialog.service.js"></script>

@section TabContainer {
	@{ Html.RenderPartial("TabContainers/_ChecklistManagementTabs", "tagsTab");}
}

@section Toolbar{
	<div class="container-flex end">
		<button type="button"
				class="btn btn-default no-margin"
				onclick="DialogService.show('addTagDialog', 'addTagForm')">
			<i class="material-icons">add</i>
		</button>
	</div>
}

@Html.Partial("Dialogs/_ConfirmDelete", "tag")
@Html.Partial("_AddTagDialog", Model.AddTagVM)

<div class="container-fluid">
	@Html.Partial("_TagList", Model)
</div>
