@model DigitalInspection.ViewModels.ChecklistItems.ManageChecklistItemsViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@Html.Partial("Dialogs/_ConfirmDelete", "checklist item")
@Html.Partial("_AddChecklistItemDialog", Model.AddChecklistItemVM)

@section TabContainer {
	@{ Html.RenderPartial("TabContainers/_ChecklistManagementTabs", "checklistItemsTab"); }
}

@section Toolbar {
	<div class="container-flex end">
		<button type="button"
				class="btn btn-default no-margin"
				onclick="DialogService.show('addChecklistItemDialog', 'addChecklistItemForm')">
			<i class="material-icons">add</i>
		</button>
	</div>
}

<div class="container-fluid">
	@Html.Partial("_ChecklistItemList", Model)
</div>